@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    E-mail:<br />
    amarcinko@etfos.hr<br />
</address>

<address>
    <strong>Git:</strong>   <a href="https://github.com/amarcinko">GitHub Account</a><br />
</address>